@using static System.IO.Path
@model BrowserViewModel

<header class="block p-3">
	<nav class="breadcrumb has-succeeds-separator is-centered">
		<ul>
			<li>
				<a href="/">ROOT</a>
			</li>

			@for (var i = 0; i < Model.Path.Length; i++) {
				var p = Model.Path[i];
				var href = Combine(Model.Root, string.Join("/", Model.Path.Take(i + 1)));
				<li>
					<a asp-action="Index" asp-route-path="@href">@p</a>
				</li>
			}
		</ul>
	</nav>

	<nav class="has-text-centered">
		<a class="button is-danger" asp-controller="Auth" asp-action="Logout">Logout</a>

		@if (Model.HasWritePermission) {
			<a class="button is-info" asp-controller="Browser" asp-action="Upload" asp-route-destination="@Model.FullPath">Upload</a>
		}
	</nav>
</header>

<div class="columns is-centered">
	<div class="column is-full is-half-desktop">
		<table class="table is-hoverable is-fullwidth">
			<thead>
				<tr>
					<th>Name</th>
					<th>Size</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var dir in Model.Directories) {
					<tr>
						<td>
							<a class="is-block" asp-action="Index" asp-route-path="@dir.FullPath">@dir.Path()/</a>
						</td>
						<td>-</td>
						<td>
							<a asp-action="Download" asp-route-path="@dir.FullPath" class="icon button is-link is-light" title="Download">
								<i class="bi">&#xF295;</i>
							</a>
						</td>
					</tr>
				}

				@foreach (var file in Model.Files) {
					<tr>
						<td>
							<a class="is-block" asp-action="ViewFile" asp-route-path="@file.FullPath">@file.Path()</a>
						</td>
						<td>@file.HumanReadableSize()</td>
						<td>
							<a asp-action="Download" asp-route-path="@file.FullPath" class="icon button is-link	is-light" title="Download">
								<i class="bi">&#xF295;</i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>